.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

input {
    padding: .25em;
    margin: .5em;
    display: block;
    width: 200px;
}

input[type=text] {
    font-size: 16px;
}

input[type=password] {
    font-size: 16px;
}

input[type=button] {
    font-size: 16px;
    margin: .5em;
    padding: .5em;
    text-decoration: none;
    border: none;
    background-color: #61DAFB;
    color: white;
}

form.login {
    font-size: large;
    display: inline-block;
}

p.error {
    color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
